:root {
    /* SIMPLE COLORS */
    --mainColor:               #7d0027;
    --mainColorAlpha:          #7d002755;
    --mainColorDark:           #200000;
    --mainColorDarkAlpha:      #20000055;
    --secondColor:             #faf98b;
    --secondColorAlpha:        #faf98b55;
    --secondColorDark:         #faf98b;
    --text:                    #ffffff;
    --title:                   #007a84;
    
    --mauve:                   #624963;
	--blue:                    #007bff;
	--indigo:                  #6610f2;
	--purple:                  #6f42c1;
	--pink:                    #e83e8c;
	--red:                     #dc3545;
	--orange:                  #FF9800;
	--yellow:                  #ffc107;
	--lime:                    #0f0;
	--green:                   #28a745;
	--teal:                    #20c997;
	--cyan:                    #17a2b8;
	--white:                   #fff;
	--black:                   #000;
	--grey:                    #aaa;
	--gray:                    #6c757d;
	--gray-dark:               #343a40;
	--primary:                 #007bff;
	--secondary:               #6c757d;
	--success:                 #28a745;
	--info:                    #17a2b8;
	--warning:                 #ffc107;
	--danger:                  #dc3545;
	--light:                   #f8f9fa;
	--dark:                    #343a40;
}