body             {
    color: var(--secondColor);
    font-size: 1.1em;
    margin: auto;
    padding: 5vw 0 5vw 0;
    perspective: 800px;
    background: url("../images/temple.png"), radial-gradient(circle, var(--mainColor) 0%, var(--mainColorDark) 100%);
}

#pp              { width: 15vw; height: 15vw; border-radius: 50%; filter: drop-shadow(0 0 50px var(--secondColor)); }
.panel           {
    box-shadow: 0 0 50px #0005;
    border-radius: 15px;
    background: radial-gradient(circle, var(--mainColor) 0%, var(--mainColorAlpha) 100%);
}
.border_top      { border-top: solid 3px var(--secondColor); }
.network         {
    width: 90px;
    height: 90px;
    color: var(--secondColor);
    background-color: var(--mainColorDarkAlpha);
    border-radius: 5px;
    box-shadow: 0 0 30px var(--mainColorDarkAlpha);
    cursor: pointer;
}
.network:hover   {
    color: black;
    background-color: var(--secondColor);
    box-shadow: 0 0 30px var(--secondColor);
    border-radius: 20px;
}
.network_dis     {
    width: 90px;
    height: 90px;
    color: var(--color_White);
    background-color: var(--mainColorDarkAlpha);
    border-radius: 5px;
    box-shadow: 0 0 30px var(--mainColorDarkAlpha);
    cursor: not-allowed;
}

.input             { color: black; font-size: 1.4em; font-weight: bold; background-color: var(--secondColor); border-radius: 5px; }
.input:hover       { transform: scale(1.1); box-shadow: 0 0 10px var(--secondColor); }
.network img       { width: 60%; height: 60%; filter: invert(75%) sepia(100%) saturate(300%) hue-rotate(-15deg) brightness(90%); }
.network_dis img   { width: 40px; height: 40px; filter: invert(75%) }
.network:hover img { filter: none; }

a                { text-decoration: none; }
h1               { margin: 0; font-size: 2.5em; }
h2               { font-size: 2em;   }
h3               { font-size: 1.7em; }
label            { width: 100%; margin-top: 1vw; color: var(--color_Main); }

@media screen and (min-width: 1500px) {
    #profil>div>div { width: 80%; }
    .network        { width: 90px; }
}

@media screen and (max-width: 1500px) {
    body          { padding: 10vw 0 10vw 0; }
    label         { font-size: .7em; }
    input         { font-size: .4em; }
    .network      { font-size: .8em; height: 80px; width: 80px; }
    #pp           { width: 150px; height: 150px; }
}

@media screen and (orientation: portrait) {
    body           { padding: 20vw 0 20vw 0; }
    h1             { font-size: 6em; }
    h2             { font-size: 2.8em; }
    h3             { font-size: 5em; }
    label          { font-size: 2em; }
    input          { font-size: 1.2em; }
    #profil        { width: 80%; margin-top: 25%; }
    .network       { font-size: 4em; height: 300px; width: 300px; border-radius: 20px; }
    .network:hover { border-radius: 80px; }
    #pp            { width: 400px; height: 400px; }
    .width_30_res  { width: 80%; }
    .width_40_res  { width: 90%; }
    .input         { font-size: 4em; }
    .panel         { border-radius: 50px; }
    .border_top    { border-top: solid 5px var(--secondColor); }
    #buttons       { margin-top: 100px; }
}

@media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance:none) {
        .tr_up_10   { transform: none; }
        .tr_up_20   { transform: none; }
        .tr_up_30   { transform: none; }
        .tr_down_10 { transform: none; }
        .tr_down_20 { transform: none; }
        .tr_down_30 { transform: none; }
    }
}